APACHE_RUN_USER=www-data # do not change
APACHE_RUN_GROUP=www-data # do not change

DB_HOST=db # do not change
DB_PORT=3306 # do not change
DB_NAME=chat_V3 # do not change
DB_USER=<PHP_MY_ADMIN_USER>
DB_PASSWORD=<PHP_MY_ADMIN_PASSWORD>
DB_CHARSET=utf8mb4 # do not change

MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD_OR_WHATEVER_YOU_WANT_TO_PUT_FOR_ROOT_USER>
MYSQL_DATABASE=<MUST_BE_THE_SAME_AS_DB_NAME>
MYSQL_USER=<MUST_BE_THE_SAME_AS_DB_USER>
MYSQL_PASSWORD=<MUST_BE_THE_SAME_AS_DB_PASSWORD>